﻿@model Blog8.Models.Comment

<div class="display-field">
        <h3> @Html.DisplayFor(x => x.Body)</h3>
        </div>
        <div class="display-field">
        <h4>Tác giả: @Html.DisplayFor(x => x.Author)</h4>
        </div>
        <div class="display-field">
        <h4>Cách đây: @Html.DisplayFor(x => x.LastTime) phút</h4>
        </div>
        <hr>

