﻿@model MyWeb_3.Models.Baiviet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Baiviet</legend>


    <h4>Tiêu đề:</h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tieude)
    </div>

    <h4>Nội dung: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Noidung)
    </div>

    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
