﻿@model MyWeb_3.Models.Baiviet

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Baiviet</legend>

        @Html.HiddenFor(model => model.ID)


        <h5>Tiêu đề:</h5>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tieude)
            @Html.ValidationMessageFor(model => model.Tieude)
        </div>

        <h5>Nội dung</h5>
        <div class="editor-field">
            @Html.EditorFor(model => model.Noidung)
            @Html.ValidationMessageFor(model => model.Noidung)
        </div>

        <h5>Mục: </h5>
        <div class="editor-field">
            @Html.DropDownList("MucID", String.Empty)
            @Html.ValidationMessageFor(model => model.MucID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
