﻿@model MyWeb_3.Models.Muc

@{
    ViewBag.Title = "Details";
}



<fieldset>
    <legend>Muc</legend>

    <h3> Chuyên mục </h3>
    <div class="display-field">
       <h4> @Html.DisplayFor(model => model.Noidung) </h4>
    </div>
</fieldset>
@foreach (var baiviet in Model.Baiviets)
{
    @Html.ActionLink(baiviet.Tieude, "../Baiviet/Details/", new { id=baiviet.ID })
}

<p@*>*@
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
