﻿@model MyWeb_3.Models.Binhluan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Binhluan</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.NDBinhluan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NDBinhluan)
            @Html.ValidationMessageFor(model => model.NDBinhluan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ngaytao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ngaytao)
            @Html.ValidationMessageFor(model => model.Ngaytao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ngaychinhsua)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ngaychinhsua)
            @Html.ValidationMessageFor(model => model.Ngaychinhsua)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChudeID, "Chude")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ChudeID", String.Empty)
            @Html.ValidationMessageFor(model => model.ChudeID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
