﻿@model IEnumerable<MyWeb_3.Models.Binhluan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NDBinhluan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaytao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaychinhsua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chude.Nguoitao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NDBinhluan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaytao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaychinhsua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chude.Nguoitao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
