﻿@model MyWeb_3.Models.UserProfile

@{
    ViewBag.Title = "Bảng thông tin:";
}

<h2>Bảng thông tin</h2>

    <h4>Chiều cao của bạn là: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chieucao)
    </div>
<h4>Cân nặng của bạn là: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.CanNang)
    </div>
<h4>Giới tính: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gioitinh)
    </div>
<h4>Thời gian: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Thoigian)
    </div>
<h4>Chỉ số BMI của bạn: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChisoBMI)
    </div>
<hr/>
<h2>Bảng thông tin cá nhân</h2>

    <h4>Họ tên: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hoten)
    </div>
<h4>Năm sinh: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Namsinh)
    </div>
<h4>Giới tính: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gioitinh)
    </div>
<h4>Dia chi: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Diachi)
    </div>
<h4>Địa chỉ email: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
@*<input type="button" name="Chỉnh sửa" value=" " />*@
<hr/>
@Html.Partial("../Account/Nhapttct", new MyWeb_3.Models.UserProfile(), ViewData);
