﻿@model MyWeb_3.Models.UserProfile

@using (Html.BeginForm("Thongtin", "Account"))
{
    @Html.ValidationSummary(true)
    <h2>Bảng nhập thông tin</h2>
    <fieldset>
        <legend>Bảng nhập thông tin</legend>
        <form name="Cập nhật thông tin của bạn." method="post">
        <div class="editor-label">
            <h4>Chiều cao:</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Chieucao) <h4>m</h4>
            @Html.ValidationMessageFor(model => model.Chieucao)
        </div>

        <h4>Cân nặng: </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.CanNang) <h4>Kg</h4>
            @Html.ValidationMessageFor(model => model.CanNang)
        </div>
        
        <h4>Giới tính:</h4>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Gioitinh,(IEnumerable<SelectListItem>)(new[]{
       new SelectListItem() {Text="Nam", Value= "Nam"},
       new SelectListItem() {Text="Nữ", Value= "Nữ"}}))
            @Html.ValidationMessageFor(model => model.Gioitinh)

        </div>

        <h4>Thời gian:</h4>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Thoigian,(IEnumerable<SelectListItem>)(new[]{
       new SelectListItem() {Text="Ít", Value= "Ít"},
       new SelectListItem() {Text="Bình thường", Value= "Bình thường"},
       new SelectListItem() {Text="Nhiều", Value= "Nhiều"}}))
            @Html.ValidationMessageFor(model => model.Thoigian)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
            <form>
    </fieldset>
    
}