﻿@model MyWeb_3.Models.Binhluan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Binhluan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NDBinhluan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NDBinhluan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ngaytao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ngaytao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ngaychinhsua)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ngaychinhsua)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chude.Nguoitao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chude.Nguoitao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
