﻿@model MyWeb_3.Models.Muc

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Muc</legend>

        @Html.HiddenFor(model => model.ID)

        <h4> Chuyên mục: </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.Noidung)
            @Html.ValidationMessageFor(model => model.Noidung)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
