﻿@model MyWeb_3.Models.Tinhtoan

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tinhtoan</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChisoBMI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChisoBMI)
            @Html.ValidationMessageFor(model => model.ChisoBMI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lopnguoi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lopnguoi)
            @Html.ValidationMessageFor(model => model.Lopnguoi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PPhopli)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PPhopli)
            @Html.ValidationMessageFor(model => model.PPhopli)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ThucphamBS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThucphamBS)
            @Html.ValidationMessageFor(model => model.ThucphamBS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LuyentapBS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LuyentapBS)
            @Html.ValidationMessageFor(model => model.LuyentapBS)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
