﻿@model MyWeb_3.Models.Tinhtoan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Tinhtoan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChisoBMI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChisoBMI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lopnguoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lopnguoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PPhopli)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PPhopli)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThucphamBS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThucphamBS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LuyentapBS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LuyentapBS)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
