﻿@model MyWeb_3.Models.Tinhtoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tinhtoan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChisoBMI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChisoBMI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lopnguoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lopnguoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PPhopli)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PPhopli)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThucphamBS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThucphamBS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LuyentapBS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LuyentapBS)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
