﻿@model IEnumerable<MyWeb_3.Models.Tinhtoan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChisoBMI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lopnguoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PPhopli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThucphamBS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuyentapBS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChisoBMI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lopnguoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PPhopli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThucphamBS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuyentapBS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
