﻿@model MyWeb_3.Models.Chude

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Chude</legend>

        <h5>Tiêu đề:</h5>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tieude)
            @Html.ValidationMessageFor(model => model.Tieude)
        </div>

        <h5>Nội dung:</h5>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Noidung)
            @Html.ValidationMessageFor(model => model.Noidung)
        </div>

        <h5> Người tạo:</h5>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
