﻿@model MyWeb_3.Models.Chude

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Chude</legend>

    

    <h4>Tiêu đề</h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tieude)
    </div>

    <h4>Nội dung</h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Noidung)
    </div>

    <h4>Ngày tạo</h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ngaytao)
    </div>

    

    <h4>Lượt cảm ơn</h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Luotcamon)
    </div>

    <h4>Người tạo</h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<hr>
@Html.Partial("Them_Binhluan", new  MyWeb_3.Models.Binhluan(), ViewData);

<fieldset>
    <legend>Bình luận</legend>
    <div id ="result">
    <h3>Danh sách các bình luận:</h3>
    @foreach (var comment in Model.Binhluans.OrderByDescending(x=>x.Ngaytao).Take(10))
    {
        <div class="display-field">
        <h3> @Html.DisplayFor(x => comment.NDBinhluan)</h3>
        </div>
        <div class="display-field">
        <h4>Cách đây: @Html.DisplayFor(x => comment.LastTime) phút</h4>
        </div>
        <hr>
    }
    </div>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
