﻿@model IEnumerable<MyWeb_3.Models.Chude>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
            Nội dung
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Lượt cảm ơn
        </th>
        &nbsp; &nbsp;
        <th>
            Đăng bởi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Tieude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noidung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaytao)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Luotcamon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
