﻿@{
    ViewBag.Title = "Giới thiệu/Liên hệ";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    
<header>Giới thiệu:<header>
<p>Là trang web đánh giá vóc dáng cơ thể thông qua các chỉ số cơ thể như chỉ số BMI với mức thời gian hiện có của đối tượng
để đề ra phương pháp nhằm đưa cơ thể đến vóc dáng mong muốn, đồng thời giới thiệu cách duy trì cơ thể vóc dáng.</p>
<header>Cách tính:<header>
    <p>BMI là viết tắt của (Body Mass Index) được gọi là chỉ số cơ thể, thường được các chuyên gia hoặc các bác sĩ áp dụng để xác định tình trạng cơ thể của một người nào đó có bị thừa cân hay gầy ốm hay không. Thông thường chúng ta thường sử dụng chỉ số BMI để tính toán mức độ béo phì.</p>
    <img  height=400 width=500 border=1 src="~/Images/images%20(1).jpg" />
    <img height=400 width=500 border=1 src="~/Images/images.jpg" />
    
</section>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        0972567724
    </p>
</section>
<section class="contact">
    
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Liên hệ:</span>
        <span><a href="mailto:codinhkhonggian@gmail.com">codinhkhonggian@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Địa chỉ</h3>
    </header>
    <p>
        484 Lê Văn Việt, Quận 9, TP Hồ Chí Minh
    </p>
</section>