﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <marquee direction="right" align="Top" scrolldelay="40" behavior="Alternate"><h1>@ViewBag.Title </h1><h2>@ViewBag.Message</h2></marquee>
            </hgroup>
            
        </div>
    </section>
}
@Html.Partial("../Account/Thongtin", new MyWeb_3.Models.UserProfile(), ViewData);