﻿@model MyWeb_3.Models.UserProfile

@{
    ViewBag.Title = "Bảng thông tin cá nhân:";
}

<h2>Bảng thông tin cá nhân</h2>

    <h4>Họ tên: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hoten)
    </div>
<h4>Năm sinh: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Namsinh)
    </div>
<h4>Giới tính: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gioitinh)
    </div>
<h4>Dia chi: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Diachi)
    </div>
<h4>Địa chỉ email: </h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>