﻿@model MyWeb_3.Models.UserProfile

@using (Html.BeginForm("Nhapttct", "Account"))
{
    @Html.ValidationSummary(true)
    <h2>Bảng nhập thông tin cá nhân</h2>
    <fieldset>
        <legend>Bảng nhập thông tin cá nhân</legend>
        <form name="Cập nhật thông tin của bạn." method="post">
        <div class="editor-label">
            <h4>Họ tên:</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hoten)
            @Html.ValidationMessageFor(model => model.Hoten)
        </div>
            <h4>Địa chỉ:</h4>
            <div class="editor-field">
            @Html.EditorFor(model => model.Diachi)
            @Html.ValidationMessageFor(model => model.Diachi)
        </div>

            <h4>Địa chỉ email:</h4>
            <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <h4>Số điện thoại:</h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoDT)
            @Html.ValidationMessageFor(model => model.SoDT)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
            <form>
    </fieldset>
    
}