﻿@model MyWeb_3.Models.Thongbao

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thongbao</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenTB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenTB)
            @Html.ValidationMessageFor(model => model.TenTB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoaiTB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoaiTB)
            @Html.ValidationMessageFor(model => model.LoaiTB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tinhtrang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tinhtrang)
            @Html.ValidationMessageFor(model => model.Tinhtrang)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
