﻿@model MyWeb_3.Models.Thongbao

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Thongbao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenTB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenTB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiTB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiTB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tinhtrang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tinhtrang)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
