﻿@model MyWeb_3.Models.Thongbao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Thongbao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenTB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenTB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiTB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiTB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tinhtrang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tinhtrang)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
