﻿@model MyWeb_3.Models.Binhluan

@using (Html.BeginForm("Create", "Binhluan", new { idpost = ViewData["idpost"] }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thêm bình luận</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NDBinhluan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NDBinhluan)
            @Html.ValidationMessageFor(model => model.NDBinhluan)
        </div>

        

        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    
}