﻿@model Blog8.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>

<fieldset>
    <legend>Post</legend>
    <h3>Danh sách các Post:</h3>
    @foreach (var post in Model.Posts)
    {
        <div class="display-field">
        <h4>@Html.ActionLink(post.Title,"../Post/Details",new { id = post.ID })</h4>
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
