﻿@model Blog8.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

@Html.Partial("_addComment", new Blog8.Models.Comment(), ViewData);

<fieldset>
    <legend>Comment</legend>
    <div id ="result">
    <h3>Danh sách các bình luận:</h3>
    @foreach (var comment in Model.Comments.OrderByDescending(x=>x.DateCreated).Take(10))
    {
        <div class="display-field">
        <h3> @Html.DisplayFor(x => comment.Body)</h3>
        </div>
        <div class="display-field">
        <h4>Tác giả: @Html.DisplayFor(x => comment.Author)</h4>
        </div>
        <div class="display-field">
        <h4>Cách đây: @Html.DisplayFor(x => comment.LastTime) phút</h4>
        </div>
        <hr>
    }
    </div>
</fieldset>

<fieldset>
    <legend>Tag</legend>
    <h3>Danh sách các Tag:</h3>
    @foreach (var tag in Model.Tags)
    {
        <div class="display-field">
        <h4>@Html.ActionLink(tag.Content,"../Tag/Details",new { id = tag.TagID })</h4>
        </div>
        <hr>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
